/* ------------------- Import de fontes ----------------- */
@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/assets_segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI B';
    src: url('../assets/fonts/assets_segoeuib.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI IL';
    src: url('../assets/fonts/assets_segoeuil.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Common */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
    font-family: "Segoe UI", sans-serif;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}

.negative-container {
    margin: 0;
}

.mobile-none {
    display: none;
}

.display-none {
    display: none;
}

.opacity {
    transition: 1s;
    opacity: 0;
}

.no-opacity {
    transition: 1s;
    opacity: 1;
}
@media(min-width: 1024px) {
    .negative-container {
        margin-left: 140px;
        margin-right: 140px;
    }
}
@media(min-width: 1024px) {

    html {
        font-size: 16px;
    }

    .container {
        margin-left: 140px;
        margin-right: 140px;
    }

    .desk-none {
        display: none !important;
    }

    .mobile-none {
        display: inline-block;
    }

}

/* Header */
.header-main {
    background-color: #2571B7;
    width: 100%;
    height: 74px;
    position: fixed;
    color: #fff;
    top: 0;
    z-index: 2;
}

.header-main .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-main .icon-menu {
    z-index: 2;
    border: none;
    display: flex;
    cursor: pointer;
    position: fixed;
    background: none;
    align-items: center;
    justify-content: center;
}

.header-main .menu {
    align-items: center;
    justify-content: center;
    left: 0;
    top: 70px;
    transform: translateX(-100%);
    transition: 1s;
    position: absolute;
    display: flex;
    margin-left: 0;
    background-color: #2571B7;
    width: 100%;
}

.header-main .menu.open {

    transform: none;
    transition: 1s;
}

.menu .menu-list {
    left: 0;
    width: 100%;
}

.menu .menu-buttons {
    padding: 20px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.menu .menu-buttons li:hover {
    padding: 10px 5px;
    background-color: #002050;
    cursor: pointer;
}

.menu-buttons li {
    padding: 10px 0;
    text-align: center;
    display: block;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
}

.header-main .logo {
    display: block;
    text-transform: uppercase;
    height: 62px;
    margin: 10px auto auto;
}

.logo .title {
    font-size: 3rem;
    margin: 0;
    font-family: Semibold 38px/51px Segoe UI;
}

.logo .sub-title {
    font-size: 0.75rem;
    text-align: center;
    margin: 0 3px;
    letter-spacing: 2.72px;
    font-weight: bold;
}

/* Inicio Header Responsivo */
@media(min-width: 768px) {}
@media(min-width: 1024px) {

    .header-main {
        height: 107px;
    }

    .header-main .header-container {
        margin-left: 90px;
        margin-right: 90px;
        width: calc(100% - 180px);
    }

    .header-main .menu-icon {
        display: none;
    }

    .header-main .logo {
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        width: 30%;
        outline: none;
        margin: 20px auto auto 0;
    }

    .header-main .logo .sub-title {
        width: 150px;
    }

    .header-main div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-main .menu {
        width: 80%;
        display: flex;
        justify-content: space-between;
        transform: none;
        position: relative;
        top: 0;
    }

    .header-main .menu-list {
        width: 100%;
    }

    .header-main .menu-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .header-main .menu-buttons li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
    }

    .header-main .menu-buttons li .menu-item {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
    }

    .header-main .menu-buttons li .menu-item.margin-reset {
        margin-right: 0;
    }

}
@media(min-width: 1440px) {

    .header-main .header-container {
        margin-left: 140px;
        margin-right: 140px;
        width: calc(100% - 280px);
    }

    .header-main .menu {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
}

/* Fim Header*/

/* Inicio Hero */
.section-hero {
    background-image: url("../assets/images/Grupo 70.png");
    padding-top: 74px;
    height: calc(100vh - 126px);
    min-height: 320px;
    min-width: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin-bottom: 80px;
}

.section-hero .container {
    color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section-hero .title {
    text-align: center;
    width: 100%;
}

.title h2 {
    margin-top: 20%;
    font-size: 3.5rem;
}

.title p {
    font-size: 2rem;
}

.section-hero .button-hero {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.button-hero a {
    padding: 12px 32px;
    background: #00A4EF;
    font-size: 1.8rem;
}

.button-hero .seta {
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

/* Inicio Hero Responsivo */
@media(min-width: 1024px) {

    .section-hero {
        height: calc(100vh - 160px);
        margin-top: 107px;
        margin-bottom: 130px;
    }

    .section-hero .title {
        text-align: left;
    }

    .title h2 {
        margin-top: 0;
        font-size: 5.6rem;
        margin-bottom: 60px;
    }

    .title p {
        font-size: 2rem;
    }

    .button-hero .middle {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .button-hero a {
        padding: 18px 60px;
        font-size: 2rem;
    }

    .button-hero .logo-seta {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .button-hero .seta {
        width: 40px;
        height: 40px;
    }

}
/* Fim Hero */

/* Inicio introduction Section */
.introduction-section {
    margin-bottom: 80px;
    font-size: 1.333rem;
    text-align: center;
    line-height: 1.9rem;
    min-width: 360px;
}

.introduction-section span {
    color: #CB4A32;
    font-weight: bold;
}

/* Inicio introduction Section Responsivo*/
@media(min-width: 1024px) {
    .introduction-section {
        font-size: 25px;
        margin-bottom: 55px;
    }
}
/* Fim introduction Section */

/* Inicio target-search Section */
.target-search-section {
    margin-bottom: 30px;
}

.target-search-section h2 {
    color: #2571B7;
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 60px;
    min-width: 360px;
}

.target-search-section input {
    width: 100%;
    padding: 5px 10px 5px 40px;
    height: 44px;
    box-sizing: border-box;
    background-image: url("../assets/images/search.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 10px;
    min-width: 360px;
}

.target-search-section ul {
    display: none;
}

.target-search-section li {
    display: block;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    background-image: url("../assets/images/search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px;
    min-width: 360px;
}
.target-search-section li:hover {
    background-color: #00A4EF;
    color: #FFFFFF;
    cursor: pointer;
}
.target-search-section ul:last-child {
    border-bottom: 1px solid #707070;
}
.target-search-section input:active+ul,
.target-search-section input:focus+ul {
    display: block;
}

/* Inicio target-search Section Responsivo*/
@media(min-width: 1024px) {

    .target-search-section {
        margin-bottom: 150px;
    }

    .target-search-section .negative-container {
        text-align: center;
    }

    .target-search-section input {
        width: 60%;
        font-size: 25px;
        padding: 20px 20px 20px 50px;
        background-size: 30px 30px;
        height: auto;
    }

    .target-search-section ul {
        width: 60%;
        margin: auto;
    }

    .target-search-section li {
        text-align: left;
        font-size: 25px;
        background-size: 25px 25px;
        padding: 10px 20px 10px 50px;
    }
}
@media(min-width: 1440px) {
    .target-search-section {
        margin-bottom: 150px;
    }
}
/* Fim target-search Section*/

/* Inicio target Section */
.target-section {
    margin-bottom: 50px;
}

.target-section .target {
    display: flex;
    color: #FFFFFF;
    padding: 20px 15px 20px 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    min-width: 360px;
}

.target img {
    width: 90px;
    height: 90px;
    min-width: 90px;
}

.target .target-text {
    margin: auto;
}

.target h3 {
    font-size: 20px;
    font-family: "Segoe UI-Bold", sans-serif;
    min-width: 150px;
    padding-top: 2%;
}

.target p {
    font-size: 14px;
    min-width: 150px;

}
.target-section .container:nth-child(n) {
    min-width: 294px;
}
.target-section .target:nth-child(1) {
    background-color: #00AFF0;
}
.target-section .target:nth-child(2) {
    background-color: #207245;
}
.target-section .target:nth-child(3) {
    background-color: #733781;
}
.target-section .target:nth-child(4) {
    background-color: #094AB2;
}
.target-section .target:nth-child(5) {
    background-color: #0093BE;
}
.target-section .target:nth-child(6) {
    background-color: #2C5898;
}
.target-section .target:nth-child(7) {
    background-color: #CB4A32;
}
.target-section .target:nth-child(8) {
    background-color: #00AFF0;
}
.target-section .target:nth-child(9) {
    background-color: #0073C6;
}
.target-section .target:nth-child(10) {
    background-color: #5558AF;
}

/* Inicio target Section Responsivo */
@media(min-width: 768px) {

    .target-section .negative-container {
        display: flex;
        flex-flow: row wrap;
    }

    .target-section .target {
        width: calc(50% - 15px);
        min-width: 0;
    }
    .target-section .target:nth-child(even) {
        margin-left: 30px;
    }

    .target h3 {
        font-size: 21px;
    }

    .target p {
        font-size: 16px;
    }

}
@media(min-width: 1024px) {

    .target-section {
        margin-bottom: 140px;
    }

    .target-section .negative-container {
        display: flex;
        flex-flow: row wrap;
    }

    .target-section .target {
        width: calc(50% - 25px);
        display: flex;
        align-items: center;
    }
    .target-section .target:nth-child(even) {
        margin-left: 50px;
    }
}
@media(min-width: 1440px) {
    .target-section .target {
        padding-right: 20px;
    }

    .target h3 {
        font-size: 26px;
        padding-top: 0;
        margin-bottom: 10px;
    }

    .target p {
        font-size: 22px;
    }

    .target img {
        width: 140px;
        height: 140px;
        min-width: 140px;
    }
}
/* Fim target Section */

/* Inicio goal Section */
.goal-section {
    margin-bottom: 40px;
}

.goal-section .goal-title {
    font-size: 45px;
    color: #2571B7;
    text-align: center;
    margin-bottom: 30px;
    min-width: 300px;
}

.goal-section .goal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 300px;
}

.goal-section .green {
    color: #7FBA00;
}

.goal-section .blue {
    color: #00A4EF;
}

.goal-section .orange {
    color: #FFB900;
}

.goal .sub-title {
    font-size: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.goal .text {
    color: #737373;
    margin-bottom: 20px;
    width: 70%;
    font-size: 1rem;
    line-height: 1.66rem;
}

.goal img {
    width: 65px;
    height: 65px;
    min-width: 30%;
    margin-bottom: 20px;
}

.goal .button-green {
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #7FBA00;
    font-weight: bold;
}

.goal .button-blue {
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #00A4EF;
    font-weight: bold;
}

.goal .button-orange {
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #FFB900;
    font-weight: bold;
}

.goal .bar {
    border-bottom: 3px solid #DEDEDE;
    width: 100%;
    margin-bottom: 20px;
}
@media(min-width: 768px) {
    .goal-section .goal-title {
        font-size: 50px;
    }

    .goal .sub-title {
        font-size: 20px;
    }

    .goal .text {
        font-size: 1.5rem;
    }

    .goal .button-green {
        font-size: 16px;
    }

    .goal .button-blue {
        font-size: 16px;
    }

    .goal .button-orange {
        font-size: 16px;
    }

    .goal img {
        width: 85px;
        height: 85px;
    }
}
@media(min-width: 1024px) {
    .goal-section {
        margin-bottom: 150px;
    }

    .goal-section .container {
        text-align: center;
    }

    .goal-section .goal-title {
        font-size: 55px;
        width: 100%;
        text-align: center;
    }

    .goal-section .goal {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .goal .sub-title {
        order: 2;
        font-size: 25px;
        margin-bottom: 25px;
    }

    .goal .text {
        order: 4;
        font-size: 16px;
        margin-bottom: 45px;
    }

    .goal img {
        order: 1;
        width: 160px;
        height: 160px;
        margin-bottom: 30px;
    }

    .goal .button-green {
        order: 5;
        padding: 10px 15px;
        font-size: 18px;
        border: 2px solid;
    }

    .goal .button-blue {
        order: 5;
        padding: 10px 15px;
        font-size: 18px;
        border: 2px solid;
    }

    .goal .button-orange {
        order: 5;
        padding: 10px 15px;
        font-size: 18px;
        border: 2px solid;
    }

    .goal .bar {
        order: 2;
        width: 70px;
        margin-bottom: 30px;
    }
}
@media(min-width: 1440px) {
    .goal-section .container {
        display: flex;
        flex-wrap: wrap;
    }

    .goal-section .goal {
        width: 33.33%;
    }

    .goal img {
        width: 210px;
        height: 210px;
    }
}
/* Fim Goal Section */

/* Inicio Valors Section */
.valors-section {
    margin-bottom: 40px;
}

.valors-section .title {
    font-size: 45px;
    color: #2571B7;
    text-align: center;
    margin-bottom: 60px;
    min-width: 300px;
    width: 100%;
}

.valors-section .container {
    border-collapse: collapse;
}

.valors-section .box {
    border-top: 3px solid #DEDEDE;
    border-right: 3px solid #DEDEDE;
    border-left: 3px solid #DEDEDE;
    text-align: center;
    min-width: 300px;
}

.valors-section .border-bottom {
    border-bottom: 3px solid #DEDEDE;
}

.box .sub-title {
    font-size: 15px;
    color: #F25022;
    padding-top: 30px;
    margin-bottom: 20px;
}

.box .text {
    font-size: 12px;
    color: #737373;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

/* Inicio Valors Section Responsive */
@media(min-width: 768px) {

    .valors-section .container {
        display: flex;
        flex-wrap: wrap;
    }

    .valors-section .box {
        border: 3px solid #DEDEDE;
        width: calc(50% - 10px);
        margin-bottom: 7px;
    }
    .valors-section .box:nth-child(even) {
        margin-right: 7px;
    }

    .box .sub-title {
        font-size: 20px;
    }

    .box .text {
        font-size: 14px;
    }
}
@media(min-width: 1024px) {
    .valors-section {
        margin-bottom: 150px;
    }

    .valors-section .container {
        justify-content: space-between;
    }

    .valors-section .box {
        width: calc((100%/4) - 14px);
        margin: 0;
        min-width: 0;
    }
    .valors-section .box:nth-child(even) {
        margin: 0;
    }

    .valors-section .border-bottom {
        margin-bottom: 0;
    }

}
@media(min-width: 1440px) {

    .box .sub-title {
        padding: 0;
        margin-top: 52px;
        margin-bottom: 32px;
    }

    .box .text {
        padding: 0;
        margin-right: 42px;
        margin-left: 42px;
        margin-bottom: 52px;
    }
}
/* FIM Valors Section */

/* Inicio Search Section */
.search-section {
    background-color: #0093BE;
    color: #FFFFFF;
    min-width: 360px;
    margin-bottom: 55px;
}

.search-section .container {
    margin: 0;
}

.search-section .title {
    font-size: 45px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 60px;
    min-width: 300px;
    width: 100%;
}

.search-section .ordered-list-button {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
}

.search-section .item-list {
    display: block;
    text-align: center;
    font-size: 16px;
    padding-bottom: 15px;
}
.search-section .item-list:hover {
    cursor: pointer;
}

.search-section .item-active {
    border-bottom: 8px solid #FFFFFF;
    margin-bottom: -4px;
    font-weight: bold;
    width: calc(100% / 4);
}

.search-section .text-active {
    padding: 45px;
    line-height: 21px;
    font-size: 16px;
    display: block;
}

/* Inicio Search Section Responsive*/
@media(min-width: 1024px) {

    .search-section {
        margin-bottom: 150px;
    }

    .search-section .container {
        margin-right: 140px;
        margin-left: 140px;
    }

    .search-section .item-list {
        font-size: 28px;
    }

    .search-section .title {
        font-size: 65px;
        margin-bottom: 110px;
    }

    .search-section .text-active {
        padding: 75px 0 120px;
        font-size: 25px;
        line-height: 33px;
    }
}
/* Fim Search Section */

/* Inicio Resume Section */
.resume-text-section {
    margin-bottom: 55px;
}

.resume-text-section .text {
    font-size: 16px;
    text-align: center;
    min-width: 300px;
}

/* Inicio resume Section Responsive*/
@media(min-width: 1024px) {
    .resume-text-section {
        margin-bottom: 150px;
    }

    .resume-text-section .text {
        font-size: 25px;
    }
}
/* Fim resume Section */

/* Inicio image Section */
.image-section {
    width: 100%;
    min-width: 360px;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}

.image-section .image-grupo {
    width: 100%;

}

.image-section .container {
    position: absolute;
    width: calc(100% - 60px);
}

.image-section .text {
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}

/* Inicio image Section */
@media(min-width: 768px) {
    .image-section .text {
        font-size: 48px;
    }
}
@media(min-width: 1024px) {
    .image-section {
        height: 430px;
        margin-bottom: 140px;
    }

    .image-section .container {
        position: absolute;
        width: calc(100% - 280px);
    }

    .image-section .text {
        font-size: 55px;
    }
}
@media(min-width: 1440px) {
    .image-section .text {
        font-size: 65px;
    }
}
/* Fim image Section */

/* inicio Form Section */
.form-section {
    margin-bottom: 35px;
}

.form-section {
    margin-bottom: 35px;
}

.form-section .text {
    font-size: 20px;
    color: #737373;
    text-align: center;
    margin-bottom: 30px;
    min-width: 300px;
}

.form-section .form-x {
    background-color: #E6E6E6;
    text-align: center;
    padding-top: 15px;
    min-width: 300px;
    color: #737373;
}

.form-x .form-group {
    display: flex;
    flex-direction: column-reverse;
}

.form-x label {
    margin-bottom: 5px;
    text-align: left;
    margin-left: 20px;
}

.form-x input {
    width: calc(100% - 70px);
    padding: 12px 15px;
    border: 0 solid;
    font-size: 15px;
    color: #737373;
    margin: auto auto 20px;
}
.form-group input:focus+label {
    color: #2571B7;
}

.form-x .button-send {
    font-size: 28px;
    width: calc(100% - 40px);
    margin-bottom: 30px;
    border: 0;
    background-color: #00A4EF;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #FFFFFF;
}
.form-x .button-send:hover {
    cursor: pointer;
}

/* inicio Form Section Responsive*/
@media(min-width: 1024px) {
    .form-section {
        margin-bottom: 110px;
    }

    .form-section .form-x {
        width: 60%;
        margin: auto;
        padding-top: 30px;
    }

    .form-section .text {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .form-x label {
        margin-left: 35px;
    }

    .form-x input {
        width: calc(100% - 100px);
    }
    .form-x .form-group:nth-child(5) input {
        margin-bottom: 60px;
    }

    .form-x .button-send {
        width: calc(100% - 100px);
        margin-bottom: 60px;
    }
}
/* Fim Form Section */

/* inicio copyright Section */
.copyrigth-section {
    margin-bottom: 60px;
    min-width: 360px;
}

.copyrigth-section .copyright-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin: auto;
}

.copyrigth-section .logo {
    color: #2C5898;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.copyrigth-section .logo:nth-child(even) {
    justify-content: flex-start;
}

.copyrigth-section .logo .title {
    font-size: 31px;
    text-align: center;
}

.copyrigth-section .logo .sub-title {
    font-size: 8px;
    font-weight: bold;
}

.copyrigth-section .copyrigth-text {
    display: block;
    margin: auto;
    text-align: center;
    color: #B4B4B4;
}

/* inicio copyrigth section responsive */
@media(min-width: 768px) {
    .copyrigth-section .copyright-logo {
        width: 30%;
    }
}
@media(min-width: 1440px) {
    .copyrigth-section .copyright-logo {
        width: 35%;
    }

    .copyrigth-section .logo .title {
        font-size: 58px;
    }

    .copyrigth-section .logo .sub-title {
        font-size: 14px;
    }
}
/* Fim copyrigth section */

footer {
    margin-top: 60px;
    z-index: 2;
    width: 100%;
    background-color: #002050;
    position: fixed;
    height: 52px;
    bottom: 0;
    display: block;
    text-align: center;
    min-width: 360px;
}

footer p {
    padding-top: 15px;
    font-size: 1.8rem;
    color: #FFFFFF;
}
@media(min-width: 1024px) {
    footer {
        display: none;
    }
}